/* importing google poppins font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* css for styling using flex and grid with regular layout*/
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}
main{
    display: flex;
    flex-direction: column ;
    align-items: center; /*this property aligned the whole container*/
}

.intro-container{
    background-color: #2D25A0;
    display: flex;
    flex-flow: row;
    width: 1440px;
    height: 677px;
}
.intro-half-one{
    width: 50%;
    margin-top: 207px;
    margin-left: 156px;
    
}
.intro-half-one h1{
    color: white; 
    font-style: normal;
    font-size: 64px;
    line-height: 67px;
}
.intro-half-one button{
    background-color: #E02C6D;
    font-size: 15px;
    margin-top: -9px;
    padding: 10px 15px;
}
.fa-arrow-right{
    padding-left: 10px;
}
.intro-half-one button, .fa-arrow-right{
    color: white;
    
}
.intro-half-two{
    width: 50%;
}
.intro-half-two img{
    width: 549px;
    height: 456px;
    padding-top: 135px;
    padding-bottom: 86px;
    padding-right: 148px;
}

/* players image and text in grid system */

.players-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1050px;
    /* height: 474px;  ( this caused the design to collapse, no need to declare this )*/
    margin: 70px 210px 50px 153px;
    /* margin-right: 210px; */
    /* margin-left: 153px; */
    
    
}
.each-grid{
    width: 330px;
    height: 474px; 
    border: 1px solid white;
    box-shadow: -1px 2px 20px 8px rgba(0, 0, 0, 0.15);
    margin-left: 30px;
    margin-bottom: 27px;
}
.players-img-size{
    width: 300px;
    height: 256px;
    margin: 15px;

}
.each-grid h2, .each-grid p{
    margin-left: 20px;
}

/* video section style here */
.video-section{
   width: 1440px;
   height: 550px; 
   background-color: #2D25A0;
  
}
.video-section h1{
    font-size: 3em;
    font-weight: lighter;

}

.video-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    overflow: visible;
    position: relative;
    overflow-x: auto;
   
}
.video-section h1 {
    color: white;
    padding-top: .7em;
    margin-left: 1.5em;
    
}
.each-video{
    
}
.each-video p{
    color: red;
    font-size: 2em;
    text-align: center;
}
.video-content img{
    width: 400px;
    height: 200px;
    padding: 5px;
    position: relative;
    /* display: block; */
    z-index: 1;
    
}
.play-button-1 {
    font-size: 60px; 
    color: white;
    z-index: 2; 
    position: absolute;
    bottom: .4em;
    left: .3em;
}
.play-button-2 {
    font-size: 60px; 
    color: white;
    z-index: 2; 
    position: absolute;
    bottom: 0.4em;
    left: 7.1em;
}
.play-button-3 {
    font-size: 60px; 
    color: white;
    z-index: 2; 
    position: absolute;
    bottom: .4em;
    left: 14em;
}
.play-button-4 {
    font-size: 60px; 
    color: white;
    z-index: 2; 
    position: absolute;
    bottom: .4em;
    left: 21em;
}